body {
    /* background-color: #2c2c2c; */
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    align-items: flex-start;
}

#index-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header-bg {
    min-width: 100%;
    max-width: none;
    height: 110%;
    margin-top: 5rem;
}

.header-index {
    position: absolute; /* absolute position ignores css grid */
    width: 62%;
    /* center vertically */
    left: 8%;
    top: 55%;
    transform: translateY(-50%);
}

.neural-shield {
    position: absolute; /* absolute position ignores css grid */
    width: 75px;
    top: 25%;
    left: 150px;
    transform: translateY(-50%);
}

.neural1 {
    position: absolute; /* absolute position ignores css grid */
    width: 125px;
    top: 30%;
    left: 50px;
    transform: translateY(-50%);
}

.neural2 {
    position: absolute; /* absolute position ignores css grid */
    width: 150px;
    right: 150px;
    bottom: 25%;
    /* transform: rotate(-20deg); */
}

.numbers {
    position: absolute; /* absolute position ignores css grid */
    width: 60%;
    right: -15%;
    top: 5rem;
    opacity: 50%;
}

.child-graphic {
    position: absolute; /* absolute position ignores css grid */
    width: 440px;
    /* width: 45%; */
    right: -150px;
    /* center vertically */
    top: 55%;
    transform: translateY(-50%);
    /* bottom: -20vw; */
}

.text-index {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    text-align: center;
    color: white;
}

.logos {
    position: absolute; /* absolute position ignores css grid */
    width: 75%;
    max-width: 775px;
    left: 50%; /* same as menu left-margin */
    bottom: 2%;
    transform: translateX(-50%);
}

a,
a:visited {
    color: #75eceb;
}

a:hover,
a:active {
    color: #00abd6;
    text-decoration: none;
}

nav a,
nav a:visited {
    color: rgb(255, 255, 255);
}

nav a:hover,
nav a:active {
    color: #75eceb;
    text-decoration: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header-bg {
        min-width: 100%;
        max-width: none;
        height: 110%;
        margin-top: 0;
    }

    .header-index {
        position: absolute; /* absolute position ignores css grid */
        width: 50%;
        /* center vertically */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .neural-shield {
        position: absolute; /* absolute position ignores css grid */
        width: 8%;
        top: 10%;
        transform: translateY(-50%);
        left: 25%;
    }

    .neural1 {
        position: absolute; /* absolute position ignores css grid */
        width: 15%;
        top: 20%;
        transform: translateY(-50%);
        left: 18%;
    }

    .neural2 {
        position: absolute; /* absolute position ignores css grid */
        width: 20%;
        right: auto;
        left: 62%;
        bottom: 20%;
        /* transform: rotate(-20deg); */
    }

    .numbers {
        position: absolute; /* absolute position ignores css grid */
        width: 60%;
        right: -15%;
        top: 0;
        opacity: 50%;
    }

    .child-graphic {
        position: absolute; /* absolute position ignores css grid */
        width: 46%;
        /* width: 45%; */
        right: -13.5%;
        /* center vertically */
        top: 50%;
        transform: translateY(-50%);
        /* bottom: -20vw; */
    }

    .text-index {
        width: 60%;
    }

    nav li {
        position: relative;
        line-height: 1;
        /* margin-bottom: 3em; */
        margin-bottom: 5vh;
    }
}
