<!DOCTYPE html>
<html>

<head>
    <title>ARO-MURI</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Custom-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-index.css' %}">
</head>

<body>
    <img class="header-bg" src="static/images/index-bg.png">
    <img class="header-index" src="static/images/header-title.png">
    <img class="header-index" src="static/images/GlitchEffectEdited.gif">
    <img class="neural-shield" src="static/images/logo-4-gradient.png">
    <img class="neural1" src="static/images/child-graphic-02.png">
    <img class="neural2" src="static/images/child-graphic-13.png">
    <img class="numbers" src="static/images/number-graphic.png">
    <img class="child-graphic" src="static/images/child-graphic-final.png">
    <img class="logos" src="static/images/Logos.png">
    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="overview">Project Overview</a></li>
                <li><a href="people">People</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Paper</a></li>
                <li><a href="events">Meetings/Events</a></li>
                <li><a href="reading-group">Reading Group</a></li>
                <li><a href="#">Internal Discussion</a></li>
            </ul>
        </nav>
    </div>
</body>


</html>