<!DOCTYPE html>
<html>

<head>
    <title>ARO-MURI</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Custom-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <img class="header-bg" src="static/images/title-bg.png">
    <img class="header-neural1" src="static/images/child-graphic-02.png">
    <img class="header-neural2" src="static/images/child-graphic-13-gradient.png">
    <img class="header-shield" src="static/images/logo-final.png">
    <a class="header-title" href="index"><img src="static/images/title-block-no-bg.png"></a>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="overview">Project Overview</a></li>
                <li><a href="people">People</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Paper</a></li>
                <li><a href="events">Meetings/Events</a></li>
                <li><a href="reading-group" class="nav-selected display-4">Reading Group</a></li>
                <li><a href="#">Internal Discussion</a></li>
            </ul>
        </nav>
    </div>
    <section>
        <h1 class="display-4">Reading Group</h1>
        <hr class="mb-4">
        <p class="text-center">
            Zoom Meeting Link: <a href="https://zoom.us/j/95221282238" target="_blank">https://zoom.us/j/95221282238
            </a>
        </p>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9 mb-5" style="background-color: black;">
            <iframe class="embed-responsive-item" src=""></iframe>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Presenter</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Readings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">5/26</th>
                    <td>Radoslav Ivanov</td>
                    <td><a href="https://drive.google.com/open?id=1PywhKoekvwRWfIznMGFgoUH5kll9ZQjd"
                            target="_blank">GANs</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/abs/1406.2661" target="_blank">GANs</a>
                        <br />
                        <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Zhu_Unpaired_Image-To-Image_Translation_ICCV_2017_paper.pdf"
                            target="_blank">Application</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6/2</th>
                    <td>Yiannis Kantaros</td>
                    <td><a href="https://drive.google.com/file/d/1HcTPxWMwUhh_aX7qS1UpjyT0KVyFDgA0/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7958570&casa_token=RDKrKKiqpVQAAAAA:x3rfTfb9G-0Oo85qEJaxLU0pBORf8piivvlzlh9KoneH8nGzgs75QuglEfeFoJHZxnH0OzlGug"
                            target="_blank">Digital Attacks</a>
                        <br />
                        <a href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Eykholt_Robust_Physical-World_Attacks_CVPR_2018_paper.pdf"
                            target="_blank">Physical Attacks</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6/9</th>
                    <td>No Presentation (AA PI meeting)</td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6/16</th>
                    <td>Sangdon Park</td>
                    <td><a href="https://drive.google.com/file/d/1ASSSnNHwu6czhYXm69QasdYj4QX_dd0K/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://openreview.net/pdf?id=BkgWahEFvr" target="_blank">Uncertified defense</a>
                        <br />
                        <a href="https://arxiv.org/abs/1902.02918" target="_blank">Certified defense</a>
                        <br />
                        <a href="https://arxiv.org/pdf/1807.03888.pdf" target="_blank">Detection</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6/23</th>
                    <td>Eric (Pengyuan) Lu</td>
                    <td><a href="https://drive.google.com/file/d/1kj92-vcmQioNxYHcjawrOY9A_--Qi7Xg/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://dl.acm.org/doi/pdf/10.1145/3128572.3140444" target="_blank">Bypassing detection</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6/30</th>
                    <td>ARO MURI Kickoff Meeting</td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7/7</th>
                    <td>Stefanos Pertigkiozoglou</td>
                    <td><a href="https://drive.google.com/file/d/1PybgSyodilvBQ5AkSDFqM0gX-_BFKaNA/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/pdf/1905.02175.pdf" target="_blank">Underlying causes</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7/14</th>
                    <td>Souradeep Dutta</td>
                    <td><a href="https://drive.google.com/file/d/1M-4vMjGwH0Dc0DdfmLh6n4rWT7L7EsnK/view?usp=sharing"
                            target="_blank">Interpreting NNs</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/pdf/1906.10651.pdf" target="_blank">Interpretation with Hierarchical Prototypes</a>
                        <br/>
                        <a href="https://arxiv.org/pdf/1806.10574.pdf" target="_blank">This Looks Like That: Deep Learning for Interpretable Image Recognition</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7/21</th>
                    <td>Alexander Robey</td>
                    <td><a href="https://drive.google.com/file/d/1tL6HYHLetuDKrgsoidMr3vilPTZ5sMut/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/abs/2005.10247" target="_blank">Model-Based Robust Deep Learning</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7/28</th>
                    <td>Shuo Li</td>
                    <td><a href="https://drive.google.com/file/d/1jginpb1GvGUTTS9gK-MwUYjQ_V7NMmVz/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        Tradeoffs
                        <br/>
                        <a href="https://arxiv.org/pdf/1805.12152.pdf" target="_blank">Robustness vs Accuracy</a>
                        <br/>
                        <a href="https://arxiv.org/pdf/1901.00532.pdf" target="_blank">Robustness vs Simplicity</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8/4</th>
                    <td>Kimberly Tena</td>
                    <td><a href="https://drive.google.com/file/d/1yFip_07DGOOiG_OzP_Oe-AiKnGn6JKMh/view?usp=sharing"
                            target="_blank">Child Development</a>
                    </td>
                    <td>
                        How children learn about
                        <br/>
                        <a href="https://chop.sharefile.com/share/view/s389543d3c644dcd8" target="_blank">Object Identity</a>
                        <br/>
                        <a href="https://chop.sharefile.com/share/view/s51d005c4df9413f8" target="_blank">Animate/Inanimate categories (when they have Autism)</a>
                        <br/>
                        <a href="http://alisongopnik.com/Papers_Alison/scientificamerican%20Gopnik0617-60.pdf" target="_blank">Making AI more human</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8/11</th>
                    <td>Kaustubh Sridhar</td>
                    <td><a href="https://drive.google.com/file/d/1tL6HYHLetuDKrgsoidMr3vilPTZ5sMut/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/pdf/1911.01043.pdf" target="_blank">Persistence of excitation for robust NNs</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8/18</th>
                    <td>Yahan Yang</td>
                    <td><a href="https://drive.google.com/file/d/1tL6HYHLetuDKrgsoidMr3vilPTZ5sMut/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://arxiv.org/pdf/2007.06622.pdf?fbclid=IwAR0BKhJu4spMDJS4nYUdaJAK-UFetHGxLn1R5Byk3FlotxPDJ5I-Fi8weaY#page=1&zoom=auto,-17,792" target="_blank">Attacks against automatic speech recognition</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8/25</th>
                    <td>Xiayan Ji</td>
                    <td><a href="https://drive.google.com/file/d/1tL6HYHLetuDKrgsoidMr3vilPTZ5sMut/view?usp=sharing"
                            target="_blank">Adversarial AI</a>
                    </td>
                    <td>
                        <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9144212&tag=1" target="_blank">Survey of anomalous example detection in deep learning</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9/1</th>
                    <td>TBD</td>
                    <td><a href="https://drive.google.com/file/d/1tL6HYHLetuDKrgsoidMr3vilPTZ5sMut/view?usp=sharing"
                            target="_blank">Human-level one-shot learning</a>
                    </td>
                    <td>
                        <a href="https://web.mit.edu/cocosci/Papers/Science-2015-Lake-1332-8.pdf" target="_blank">Human-level concept learning through probabilistic program induction</a>
                        <br/>
                        Similar: <a href="https://arxiv.org/pdf/1604.00289.pdf" target="_blank">Comparing cognitive and machine learning systems</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</body>


</html>