# Please see https://cets.seas.upenn.edu/answers/auth-pennkey.html
# for more information on configuring PennKey authentication for websites
AuthType shibboleth
ShibRequestSetting requireSession 1
# Uncomment ONE of the following Require directives
# PennKey authentication required, any valid PennKey:
#Require shib-session
# PennKey authentication required, limited to specific PennNames:
Require shib-user reliang pqy arobey1 bjm carptj danroth eeaton elenimi iruchkin jasonyma kantaros kostas ksridhar lee lishuo1 mcleav meghnag obastani julip pelu pstefano ramneetk rivanov sangdonp sfpugh sm1 sokolsky sooyong duttaso tenak vilin weimerj wng xjiae yangy96

