/* use CSS grid to section content vs nav/header */
body {
  /*font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto;
  column-gap: 2%;
}

h1.display-4 {
  font-size: 3rem;
}

h4.display-4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 2em;
}

.content {
  line-height: 2;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}

.header-bg {
  position: absolute; /* absolute position ignores css grid */
  width: 100vw;
  max-width:100%; /* makes sure 100vw doesn't overflow with vertical scrollbar */
  z-index: -1;
}

.header-title {
  position: absolute; /* absolute position ignores css grid */
  width: 100vw;
  max-width:100%; /* makes sure 100vw doesn't overflow with vertical scrollbar */
}

.header-graphic {
  position: absolute; /* absolute position ignores css grid */
  width: 15vw;
  left: 75vw;
}

.nav-container {
  position: fixed; /* fixed position ignores css grid */
  width: 20%; /* account for width of first column */
  left: 0;
  top: 0;
}

/* The actual timeline (the vertical ruler) */
nav {
  position: relative;
  margin: 0 auto;
  padding-top: 12.5vmax;
  margin-left: 4vw;
}

nav a, a:visited {
  color: rgba(0, 0, 0);
}

nav a:hover, a:active {
  color: #00566b;
  text-decoration: none;
}

.nav-selected {
  font-size: 2em;
}

/* The actual timeline (the vertical ruler) */
nav::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  border: 1px solid lightgray;
  top: 0;
  bottom: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 60px; /* corresponds w/ left of nav li::before */
}

nav li {
  position: relative;
  line-height: 1;
  margin-bottom: 3em;
}

/* Create the custom list bullet */
nav li::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: white;
  border: 1px solid lightgray;
  left: -60px; /* corresponds w/ padding-inlin-start of nav ul, offsets it */
  top: 55%;
}

section {
  grid-column: 2;
  grid-row: 1;
  margin-top: 18vmax; /* account for header */
  margin-bottom: 8vmax;
}

.glow {
  box-shadow: 0 0 15px 0px #75eceb;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}